#navBar {
  background-color: white;
  height: 100px;
  border-bottom: 3px solid black;
  opacity: .9;
}
#navBar span {
  margin-top: 1.5%;
  padding:20px;
  font-size: 18px;
}
body {
  background-image: url("../images/back2.jpg");
  background-size: cover;
}
.boxBackground {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  opacity: .9;
}
.boxBackground img {
  margin-right: 1%;
}
#keySkill {
  padding: 15px;
}
#mainNameHeader {
  letter-spacing: 20px;
  margin-top: 1%;
  font-size: 50px;
}
